:root {
  --main-radius: 7px;
  --main-padding: 0px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FCFBFB;
}
.container{
    transition: 0.5s;
}


a{
    color: white;
    margin: 10px
}

nav {
  background: #F84B4B;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.navbar{
    text-align: left;
    padding-left: 40px;
    margin-bottom: 20px;
}
h1{
    font-family: Inter;
    font-size: 50px;
    margin-bottom: 0px;
    padding-right: 20px;
    margin-top: 0;
}

#heading_text{
    padding-bottom: 10px;
}


h2{
    font-weight: 800;
    padding-top: 30px;
    font-size: 25px;
}

h5{
    font-weight: 400;
    font-size: 20px;
}

#logo_1{
    height: 33px;
    width: 122px;
}

.logo{
    padding-top: 20px;
    padding-bottom: 0;
    
}
.logo2{
    display: none;
}
/*main {
  background: #FCFBFB;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: 20px;
}*/

/*#sidebar {
  background: #FCFBFB;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: 30px;;
}

#welcome_container{
    align-items: center;
    background-color: #FBA7A7;
    border-left: 50px solid #FCFBFB;
    border-right: 50px solid #FCFBFB;
    
}*/

/*-----------------------------------CONTENT 1-------------------------------------*/
#content1 {
  background: #FCFBFB;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_1{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
    
}
.thumbIMG_1{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content2 {
  background: #FCFBFB;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_1{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}
/*.download-sec_1{
   
    justify-content: center;
    align-items: center;
}*/

#content1_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download1{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor1{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}

/*--------------------------------------------------------------CONTENT 2------------------------------------------------------------*/

#content3 {
  background: #FCFBFB;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_2{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_2{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content4 {
  background: #FCFBFB;
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_2{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content2_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download2{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor2{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}



/*--------------------------------------------------------------CONTENT 2 END------------------------------------------------------------*/




/*-------------------------------------------------- CONTENT 3----------------------------------------------------*/

#content5 {
  background: #FCFBFB;
  grid-area: content5;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_3{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_3{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content6 {
  background: #FCFBFB;
  grid-area: content6;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_3{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content3_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download3{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor3{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}


/*----------------------------------------------------------------CONTENT 3 END ------------------------------*/


/*--------------------------------------------------------------CONTENT 4------------------------------------------------------------*/

#content7 {
  background: #FCFBFB;
  grid-area: content7;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_4{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_4{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content8 {
  background: #FCFBFB;
  grid-area: content8;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_4{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content4_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download4{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor4{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}



/*--------------------------------------------------------------CONTENT 4 END------------------------------------------------------------*/


/*--------------------------------------------------------------CONTENT 5------------------------------------------------------------*/

#content9 {
  background: #FCFBFB;
  grid-area: content9;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_5{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_5{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content10 {
  background: #FCFBFB;
  grid-area: content10;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_5{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content5_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download5{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor5{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}



/*--------------------------------------------------------------CONTENT 5 END------------------------------------------------------------*/



/*--------------------------------------------------------------CONTENT 6------------------------------------------------------------*/

#content11 {
  background: #FCFBFB;
  grid-area: content11;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_6{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_6{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content12 {
  background: #FCFBFB;
  grid-area: content12;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_6{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content6_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download6{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor6{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}



/*--------------------------------------------------------------CONTENT 6 END------------------------------------------------------------*/



/*--------------------------------------------------------------CONTENT 7------------------------------------------------------------*/

#content13 {
  background: #FCFBFB;
  grid-area: content13;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_7{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_7{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content14 {
  background: #FCFBFB;
  grid-area: content14;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_7{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content7_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download7{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor7{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}



/*--------------------------------------------------------------CONTENT 7 END------------------------------------------------------------*/



/*--------------------------------------------------------------CONTENT 8------------------------------------------------------------*/

#content15 {
  background: #FCFBFB;
  grid-area: content15;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_8{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_8{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content16 {
  background: #FCFBFB;
  grid-area: content16;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_8{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content8_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download8{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor8{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}



/*--------------------------------------------------------------CONTENT 8 END------------------------------------------------------------*/



/*--------------------------------------------------------------CONTENT 9------------------------------------------------------------*/

#content17 {
  background: #FCFBFB;
  grid-area: content17;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_9{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_9{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content18 {
  background: #FCFBFB;
  grid-area: content18;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_9{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content9_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download9{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor9{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}



/*--------------------------------------------------------------CONTENT 9 END------------------------------------------------------------*/



/*--------------------------------------------------------------CONTENT 10 ------------------------------------------------------------*/

#content19 {
  background: #FCFBFB;
  grid-area: content19;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_10{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_10{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content20 {
  background: #FCFBFB;
  grid-area: content20;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_10{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content10_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download10{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor10{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}



/*--------------------------------------------------------------CONTENT 10 END------------------------------------------------------------*/



/*--------------------------------------------------------------CONTENT 11 ------------------------------------------------------------*/

#content21 {
  background: #FCFBFB;
  grid-area: content21;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_11{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_11{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content22 {
  background: #FCFBFB;
  grid-area: content22;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_11{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content11_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download11{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor11{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}



/*--------------------------------------------------------------CONTENT 11 END------------------------------------------------------------*/



/*--------------------------------------------------------------CONTENT 12 ------------------------------------------------------------*/

#content23 {
  background: #FCFBFB;
  grid-area: content23;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_12{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_12{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content24 {
  background: #FCFBFB;
  grid-area: content24;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_12{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content12_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download12{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px; !important
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor12{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}



/*--------------------------------------------------------------CONTENT 12 END------------------------------------------------------------*/



/*--------------------------------------------------------------CONTENT 13 ------------------------------------------------------------*/

#content25 {
  background: #FCFBFB;
  grid-area: content25;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 20px;
}
.thumbnail_13{
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    height: 124px;
    width: 234px;
    box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
}
.thumbIMG_13{
    max-height: 100px;
    max-width: inherit;
}

/*-----------DOWNLOAD SECTION---------*/

#content26 {
  background: #FCFBFB;
  grid-area: content26;
  border-radius: var(--main-radius);
  padding-top: 30px;
  margin-right: 20px;
}

.buttons_13{
    
    display: flex;
    justify-content: space-between;
    /*flex-direction: column*/
}


#content13_title{
    color: #4b4b4b;
    font-size: 18px;
    text-align: left;
    padding: 0px;

}
#download13{
    background-color: #F84B4B;
    color: #fafafa;
    border-radius: 5px;
    padding-left: 0px; !important 
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#monitor13{
    background-color: #FBA7A7;
    color: #fafafa;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    
}



/*--------------------------------------------------------------CONTENT 13 END------------------------------------------------------------*/


.thumbIMG_1:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.thumbIMG_2:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.thumbIMG_3:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.thumbIMG_4:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.thumbIMG_5:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.thumbIMG_6:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.thumbIMG_7:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.thumbIMG_8:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.thumbIMG_10:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.thumbIMG_11:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.thumbIMG_12:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.thumbIMG_13:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


/*-----------------------------------------------------------Download hovers-------------------------*/

#download1:hover{
    background-color: #d87e7e;
}

#download2:hover{
    background-color: #d87e7e;
}

#download3:hover{
    background-color: #d87e7e;
}

#download4:hover{
    background-color: #d87e7e;
}

#download5:hover{
    background-color: #d87e7e;
}

#download6:hover{
    background-color: #d87e7e;
}

#download7:hover{
    background-color: #d87e7e;
}

#download8:hover{
    background-color: #d87e7e;
}

#download9:hover{
    background-color: #d87e7e;
}

#download10:hover{
    background-color: #d87e7e;
}

#download11:hover{
    background-color: #d87e7e;
}

#download12:hover{
    background-color: #d87e7e;
}


#download13:hover{
    background-color: #d87e7e;
}












footer {
  background: #d87e7e;
  grid-area: footer;
  border-radius: var(--main-radius);
  margin-top: 20px;
}


a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
}

#footnote{
    font-size: 8px;
    padding: 25px;
}
.msgme{
    margin-top: 7px;
    color: #FBA7A7;
    font-size: 14px;
    font-weight: 600;
}
p{
    padding-top: 10px;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0px;
}

/*----------------------------------------------------------------------------------GRID AREAS----------------------------------------------------------------------*/
.container {
  display: grid;
  height: 360vh;
  justify-content: center;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.1fr;
  grid-template-areas:
    "nav nav"
    "content1 content2"
    "content3 content4"
    "content5 content6"
    "content7 content8"
    "content9 content10"
    "content11 content12"
    "content13 content14"
    "content15 content16"
    "content17 content18"
    "content19 content20"
    "content21 content22"
    "content23 content24"
    "content25 content26"
    "footer footer";
  grid-gap: 0.5rem;
  /*--text-transform: uppercase;--*/
  font-size: 12px;
  color: #FCFBFB;
  text-align: center;
  margin-top: 0px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 100px; 
  background-color: #FCFBFB;
  box-shadow: 0px 4px 20px 1px rgba(251, 167, 167, 0.21);
    
}


/*-----------------------------------------------------------------RESPONSIVE MEDIA---------....................---------------------------*/
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.02fr 0.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "content7"
      "content8"
      "content9"
      "content10"
      "content11"
      "content12"
      "content13"
      "content14"
      "content15"
      "content16"
      "content17"
      "content18"
      "content19"
      "content20"
      "content21"
      "content22"
      "content23"
      "content24"
      "content25"
      "content26"
      "footer";
    
      margin-top: 0 !important;
      margin-left: 175px !important; 
  }
    
    .logo{
        display: none;
    }
    .logo2{
        display: contents;
        text-align: center;
        overflow: hidden !important;
        z-index: 10;
        
    }
    
    #logo_2{
        height: 44px;
        width: 52px;
        padding-left: 160px;
        padding-right: 160px;
        padding-top: 15px;
    }
    
    .navbar{
        padding-left: 0px;
    }
    h1{
        
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    h3{
        text-align: center;
    }
    
    h5{
        font-size: 16px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 0px;
    }
    
   
    
    #content2{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content4{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content6{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    
    #content8{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content10{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    
    #content12{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    
    #content14{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    
    #content16{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content18{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
     
    #content20{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    
    #content22{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content24{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    
    #content26{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    
    p{
        font-weight: 500;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    

}
/*-----------------------------------------------------------------RESPONSIVE MEDIA END---------....................---------------------------*/


/*-----------------------------------------------------------------RESPONSIVE MEDIA - IPHONE ---------....................---------------------------*/
@media only screen and (max-width: 375px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.02fr 0.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "content7"
      "content8"
      "content9"
      "content10"
      "content11"
      "content12"
      "content13"
      "content14"
      "content15"
      "content16"
      "content17"
      "content18"
      "content19"
      "content20"
      "content21"
      "content22"
      "content23"
      "content24"
      "content25"
      "content26"
      "footer";
    
      margin-top: 0;
      margin-left: 175px !important;
  }
    
    
    #heading_text{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content2{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content4{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content6{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content8{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    
    #content10{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content12{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content14{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content16{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content18{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content20{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content22{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    #content24{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
   
    #content26{
        margin-right: 0;
        padding-left: 55px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
    
    
    p{
        font-weight: 500;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    

}

